{% extends 'base.html.twig' %}

{% block title %}SymfonyNews{% endblock %}

{% block body %}

    <!-- Post section-->

    <div class="py-3 bg-light border-bottom">
        <div class="col px-5">
            <div class="card h-100 d-flex justify-content-center">
                <img src="../images/{{ posts.image }}" class="center" alt="image" style="width: 300px">
                <div class="card-body">
                    <h5 class="card-title">{{ posts.title|capitalize }}</h5>
                    <small class="text-muted">Shared by {{ posts.user.firstName|capitalize }} {{ posts.user.lastName|capitalize }} {{ posts.createdAt| ago }}</small>
                    <p class="card-text">{{ posts.content|capitalize }}</p>

                    <hr>
                    <h6><i class="pr-3 fa fa-comment"></i>{{ posts.comments|length }} Comments</h6>
                    {% for comment in posts.comments %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="comment-container d-inline-block pl-3 align-top">
                                    <p>
                                        <span class="comment"> {{ comment.commentText|capitalize }}</span>
                                        <br>
                                        <small class="text-muted commenter-name">{{ comment.authorName|capitalize}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if app.user %}
                        {{ form(form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}