 <!-- Posts section-->
            <div class="col">
                <div class="card h-100" >
                    <a href="/posts/{{ posts.id }}" style="text-decoration: none">
                    <img src="images/{{ posts.image }}" class="card-img-top" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ posts.title|capitalize }}</h5>
                        <small class="text-muted">Shared by {{ posts.user.firstName|capitalize }} {{ posts.user.lastName|capitalize }} {{ posts.createdAt| ago }}</small>
                        <p class="card-text">{{ posts.content|capitalize}}</p>
                        <div class="float-end mt-2 pt-1">
                            <a href="/posts/{{ posts.id }}" style="text-decoration: none">
                            <button type="button" class="btn btn-dark btn-sm">Open Artwork</button>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>

