{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}

{% block body %}
    <main role="main">
        <div class="py-5 bg-light border-bottom row row-cols-1 row-cols-md-3 g-5"></div>
        <div class="container">
            <table class="table table-hovered">
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>E-mail address</th>
                    <th>Number of posts</th>
                    <th>Contact</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.posts | length }}</td>
                    <td><button type="button" class="btn btn-light btn-sm">
                            <a href = "mailto: {{ user.email }}" style="text-decoration: none">Contact</a>
                        </button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
